*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Work Sans', sans-serif;
}
.heading-section{
background-image: url(/images/banner/banner1.png);
height: 100vh;
background-position: center;
display: flex;
align-items: center;
justify-content: right;
}
.main-heading{
float: right;
width: 30%;
text-align: right;
margin-right: 100px;
}
.section2nd-image{
  width: 50%;
  float: right;
  margin-right: 100px;
}
.main-section{
  display: flex;
  align-items: center;
  margin-top: 10%;
}
.details{
  width: 20%;
}
ul{
  margin-left: 20px;
  margin-top: 10px;
}
.praimary-btn{
  width: 100px;
  height: 45px;
  background-color: #F15B22;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.greating{
  font-size: 55px;
  margin-bottom: 10px;
}
.details-description{
  margin-top: 10px;
}
.section3-heading{
  text-align: center;
}
.section3-items{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.section3-2nditems{
  background-image: url(/images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin:10%;
}
.praimary-btn2{
  width: 100px;
  height: 45px;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  color: orange;
}
.section3-2nditems{
text-align: left;
padding-left: 5%;
padding-top: 5%;
}
.section-h2{
  font-size: 30px;
}