/* shared file* */
body{
  font-family: 'Work Sans', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
/*head sectin start here*/
.header{
  background-image: url(/images/banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: right;
  display: flex;
  align-items: center;
}
.banner {
  margin-top: 216px;
  margin-right: 150px;
  width: 1170px;
  margin: 0 auto;
}
.header-tittle{
  color: #151414;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-description{
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary{
color: #FFF;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
background: #F15B22;
padding: 20px 25px 25px 20px;
width: 160px;
height: 64px;
}
/*this is the 2nd section*/
main{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.img-section{
width: 400px;
height: 450px;
border-radius: 100%;
background: #FCDED3;
}
